# AXKU5 + Tigard v1 OpenOCD configuration for the Socratic Ibex FPGA target.

source [find interface/ftdi/tigard.cfg]
transport select jtag
reset_config none

set _CHIPNAME riscv
set _EXPECTED_ID 0x00000001

jtag newtap $_CHIPNAME cpu -irlen 5 -expected-id $_EXPECTED_ID -ignore-version
set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME riscv -chain-position $_TARGETNAME -coreid 0

adapter speed 1000
riscv set_command_timeout_sec 120
riscv set_ir idcode 0x01
riscv set_ir dtmcs 0x10
riscv set_ir dmi   0x11
riscv set_mem_access progbuf abstract sysbus
gdb report_data_abort enable
gdb report_register_access_error enable
gdb breakpoint_override hard

init
halt
